<!--wide layout-->
<div class="wide_layout relative">
  <!--[if (lt IE 9) | IE 9]>
    <div style="background:#fff;padding:8px 0 10px;">
    <div class="container" style="width:1170px;"><div class="row wrapper"><div class="clearfix" style="padding:9px 0 0;float:left;width:83%;"><i class="fa fa-exclamation-triangle scheme_color f_left m_right_10" style="font-size:25px;color:#e74c3c;"></i><b style="color:#e74c3c;">Attention! This page may not display correctly.</b> <b>You are using an outdated version of Internet Explorer. For a faster, safer browsing experience.</b></div><div class="t_align_r" style="float:left;width:16%;"><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode" class="button_type_4 r_corners bg_scheme_color color_light d_inline_b t_align_c" target="_blank" style="margin-bottom:2px;">Update Now!</a></div></div></div></div>
  <![endif]-->
  <!--markup header-->
  <!--content-->
  <div class="page_content_offset">
    <div class="container">
      <div class="row clearfix">
        <!--left content column-->
        <section class="col-lg-12 col-md-12 col-sm-12 m_xs_bottom_30">
          <h2 class="tt_uppercase color_dark m_bottom_30">Novo contrato</h2>
          <div class="bs_inner_offsets bg_light_color_3 shadow r_corners m_bottom_45">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed turpis justo. Curabitur sodales, mauris non sodales euismod, odio ex laoreet nibh, id malesuada lectus velit eu diam. Proin eget ultrices nulla. Curabitur et metus luctus elit interdum maximus ut et enim. Suspendisse sollicitudin purus dui. Phasellus augue dolor, efficitur id est sed, sollicitudin egestas quam. Donec a vehicula diam. Quisque finibus dui lorem, nec ullamcorper nisl tempor vel. Sed a hendrerit tellus. Vestibulum sit amet varius orci. Nunc iaculis lobortis tellus, sit amet maximus nulla faucibus a. Vivamus congue eros ligula. Sed mollis turpis risus, vel faucibus lorem pretium vel. Nulla bibendum nunc urna, in aliquet magna porttitor a.

Fusce ac varius diam. Integer dolor est, tincidunt ut ipsum eget, eleifend blandit massa. Morbi quis sem interdum nibh efficitur mattis in id velit. Vivamus dapibus feugiat eros, non consequat eros feugiat quis. Quisque tincidunt enim mauris, a laoreet odio pellentesque ac. Praesent sed laoreet arcu. Mauris rhoncus viverra sem sit amet venenatis. Nam elit nulla, scelerisque eget est sed, faucibus lobortis felis. Phasellus in magna et justo feugiat pretium. Vestibulum vitae bibendum orci, sed condimentum arcu. In molestie, nisl maximus venenatis porttitor, dolor erat elementum ligula, in rhoncus ipsum diam sollicitudin nibh. Sed egestas ut lacus ut congue. Sed eros sapien, convallis quis orci sed, tristique auctor felis. Pellentesque faucibus orci id mauris egestas, ut volutpat neque pulvinar. Nulla sit amet ante lacus.

Quisque nec arcu a felis iaculis hendrerit ut eu velit. Donec commodo efficitur lorem, eget gravida ipsum dictum eu. Duis pharetra ut augue convallis venenatis. Curabitur cursus bibendum erat, a tempus dolor accumsan ac. Proin cursus pretium est, eget gravida ligula facilisis at. Vestibulum blandit nibh quis tempus pellentesque. Integer ultrices laoreet neque, eu ultricies ex molestie quis. Nunc eget tortor diam. Morbi commodo fringilla dui non lacinia.

Donec non neque ipsum. Duis sodales porttitor ante ac commodo. Praesent dignissim consectetur consequat. Phasellus arcu libero, condimentum ut condimentum at, sollicitudin quis magna. Duis at risus non massa imperdiet ultrices. Duis arcu neque, auctor a sagittis vitae, vulputate at ex. Proin ultricies dolor quis odio vulputate tincidunt. Aenean ex magna, sodales vel quam vel, scelerisque imperdiet diam. Nullam justo augue, laoreet eget molestie in, varius at odio. Nulla eget lacinia erat. Mauris non felis at massa vulputate rutrum non et tortor. Sed efficitur mattis purus, et ornare lorem tincidunt non. In quis condimentum mauris.</p>
            <label><input type="checkbox" name="checkbox" value="value" ng-model="contractCtrl.card">Aceito os termos e condições descritos no contrato</label>
          </div>
          <button class="button_type_6 bg_scheme_color f_size_large f_middle r_corners tr_all_hover color_light m_bottom_20" ng-click="contractCtrl.processNewContract()">Confirmar</button>
         </section>
        <!--right column-->
      </div>
    </div>
  </div>
  <!--markup footer-->
</div>
