<footer id="footer" class="type_2">
  <div class="footer_top_part">
    <div class="container">
      <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3 m_xs_bottom_30 col-sm-offset-2">
          <h3 class="color_light_2 m_bottom_20">Sobre nós</h3>
          <p class="m_bottom_15">Somos a melhor loja de tenis que você já viu na sua vida, criado por três mestres da programação e o Saulo</p>
          <p>Vamos implantar a nova ordem mundial, já que somos Illuminati, e brevemente trocaremos o nosso nome para IllumiTenis</p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-2">
          <h3 class="color_light_2 m_bottom_20">Contate-nos</h3>
          <ul class="c_info_list">
            <li class="m_bottom_10">
              <div class="clearfix m_bottom_15">
                <i class="fa fa-map-marker f_left"></i>
                <p class="contact_e"> Av. Prof. Luciano Gualberto, 380, Butantã, São Paulo - SP</p>
              </div>
            </li>
            <li class="m_bottom_10">
              <div class="clearfix m_bottom_10">
                <i class="fa fa-phone f_left"></i>
                <p class="contact_e">(11) 99613-5335</p>
              </div>
            </li>
            <li class="m_bottom_10">
              <div class="clearfix m_bottom_10">
                <i class="fa fa-envelope f_left"></i>
                <a class="contact_e color_light" href="mailto:#">saulotoshi@gmail.com</a>
              </div>
            </li>
            <li>
              <div class="clearfix">
                <i class="fa fa-clock-o f_left"></i>
                <p class="contact_e">Segunda - Sexta: 08:00-20:00 <br>Sábado: 09:00-15:00<br> Domingo: fechado</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--copyright part-->
  <div class="footer_bottom_part">
    <div class="container clearfix t_mxs_align_c">
      <ul class="f_right horizontal_list clearfix f_mxs_none d_mxs_inline_b">
        <li class="m_left_5"><img src="../../../public/images/payment_img_2.png" alt=""></li>
        <li class="m_left_5"><img src="../../../public/images/payment_img_3.png" alt=""></li>
        <li class="m_left_5"><img src="../../../public/images/payment_img_4.png" alt=""></li>
      </ul>
    </div>
  </div>
</footer>
