<header role="banner" ng-controller="navbarCtrl as nav">
  <!--header top part-->
  <section class="h_top_part">
    <div class="container">
      <div class="row clearfix">
        <div class="col-lg-4 col-md-4 col-sm-3 t_xs_align_c">
          <p class="f_size_small" ng-if="!nav.isLogged">Bem vindo visitante, você pode	<a href="#" ng-click="nav.openLogin()">Entrar</a> ou <a ng-click="nav.openSignup()" href="#">Criar uma Conta</a> </p>
          <p class="f_size_small" ng-if="nav.isLogged">Bem vindo <strong>{{nav.nome}}</strong>, deseja	<a href="#" ng-click="nav.logout()">Sair?</a> </p>
        </div>
        <nav class="col-lg-4 col-md-4 col-sm-6 t_align_c t_xs_align_c">
          <ul class="d_inline_b horizontal_list clearfix f_size_small users_nav">
            <li><a ng-click="nav.goToMyAcc()" href="#" class="default_t_color">Minha Conta</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <!--header bottom part-->
  <section class="h_bot_part container">
    <div class="clearfix row">
      <div class="col-lg-6 col-md-6 col-sm-4 t_xs_align_c">
        <a href="index.html" class="m_xs_bottom_15 d_xs_inline_b">
          <img src="../../../public/images/logo_mais_fudidao.png" alt="" width="60">
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-6 col-sm-6 t_align_r t_xs_align_c m_xs_bottom_15">
            <dl class="l_height_medium">
              <dt class="f_size_small">Ligue-nos</dt>
              <dd class="f_size_ex_large color_dark"><b>(11) 99613-5335</b></dd>
            </dl>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <form class="relative type_2" role="search">
              <input type="text" placeholder="Buscar" name="search" class="r_corners f_size_medium full_width" ng-model="nav.searchName">
              <button class="f_right search_button tr_all_hover f_xs_none" ng-click="nav.search()">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--main menu container-->
  <div class="container">
    <section class="menu_wrap type_2 relative clearfix t_xs_align_c m_bottom_20">
      <!--button for responsive menu-->
      <button id="menu_button" class="r_corners centered_db d_none tr_all_hover d_xs_block m_bottom_15">
        <span class="centered_db r_corners"></span>
        <span class="centered_db r_corners"></span>
        <span class="centered_db r_corners"></span>
      </button>
      <!--main menu-->
      <nav role="navigation" class="f_left f_xs_none d_xs_none t_xs_align_l">
        <ul class="horizontal_list main_menu clearfix">
          <li class="relative f_xs_none m_xs_bottom_5" ng-class="{current: isHomeActive}"><a ui-sref="home" class="tr_delay_hover color_light tt_uppercase" ng-click="nav.search()"><b>Início</b></a>
          </li>
          <li class="relative f_xs_none m_xs_bottom_5" ng-class="{current: isFinancesive}"><a class="tr_delay_hover color_light tt_uppercase"><b>Financeiro</b></a>
            <div class="sub_menu_wrap top_arrow d_xs_none tr_all_hover clearfix r_corners w_xs_auto width425">
              <div class="f_left f_xs_none">
                <ul class="sub_menu first">
                  <li><a ui-sref="finances({type: 'Geral'})"><b class="color_dark m_bottom_5 m_top_5 d_inline_b">Geral</b></li></a>
                </ul>
                <ul class="sub_menu first">
                  <li><a class="color_dark tr_delay_hover" ui-sref="finances({type: 'Jardinagem'})">Jardinagem</a></li>
                  <li><a class="color_dark tr_delay_hover" ui-sref="finances({type: 'Reformas'})">Reformas</a></li>
                  <li><a class="color_dark tr_delay_hover" ui-sref="finances({type: 'Eventos'})">Eventos</a></li>
                </ul>
              </div>
              <div class="f_left m_left_10 m_xs_left_0 f_xs_none">
                <b class="color_dark m_left_20 m_bottom_5 m_top_5 d_inline_b">Tabelas</b>
                <ul class="sub_menu">
                  <li><a class="color_dark tr_delay_hover" ui-sref="finances({type: 'Orçamentos'})">Orçamentos</a></li>
                  <li><a class="color_dark tr_delay_hover" ui-sref="finances({type: 'Contratos'})">Contratos</a></li>
                  <li><a class="color_dark tr_delay_hover" ui-sref="finances({type: 'Faturamentos'})">Faturamentos</a></li>
                </ul>
              </div>
              <img src="../../../public/images/logo_mais_fudidao.png" width="210" class="d_sm_none f_right m_bottom_10" style="height: 150px; width: 150px">
            </div>
          </li>
          <li class="relative f_xs_none m_xs_bottom_5" ng-class="{current: isFormActive}"><a ui-sref="form" class="tr_delay_hover color_light tt_uppercase"><b>Formulário</b></a>
          </li>
          <!-- <li class="relative f_xs_none m_xs_bottom_5" ng-class="{current: isReviewsActive}"><a class="tr_delay_hover color_light tt_uppercase"><b>Avaliações</b></a>
            <div class="sub_menu_wrap top_arrow d_xs_none tr_all_hover clearfix r_corners w_xs_auto width350">
              <div class="f_left f_xs_none">
                <ul class="sub_menu first">
                  <li><a ui-sref="reviews-my"><b class="color_dark m_bottom_5 m_top_5 d_inline_b">Minhas Avaliações</b></li></a>
                </ul>
                <ul class="sub_menu first">
                  <li><a class="color_dark tr_delay_hover" ui-sref="reviews({type: 'service'})">Serviços</a></li>
                  <li><a class="color_dark tr_delay_hover" ui-sref="reviews({type: 'provider'})">Fornecedores</a></li>
                  <li><a class="color_dark tr_delay_hover" ui-sref="reviews({type: 'integrator'})">Integradores</a></li>
                </ul>
              </div>
              <img src="../../../public/images/logo_mais_fudidao.png" width="210" class="d_sm_none f_right m_bottom_10" style="height: 150px; width: 150px">
            </div>
          </li> -->
        </ul>
      </nav>  
    </section>
  </div>
</header>
