<!--wide layout-->
<div class="wide_layout relative">
  <div class="page_content_offset">
    <div class="container">
      <div class="row clearfix">
        <!--left content column-->
        <section class="col-lg-12 col-md-12 col-sm-12 m_xs_bottom_30">
          <h2 class="tt_uppercase color_dark m_bottom_25">Orçamentos</h2>
          <!--contractCtrl table-->
          <button style="padding: 24px; color white;" ng-click="type='Empreiteiro'">Empreiteiro</button>
          <button style="margin-bottom:24px; padding: 24px; color white;" ng-click="type='Cliente'">Cliente</button>

          <table ng-if="type==='Empreiteiro'" class="table_type_6 responsive_table full_width r_corners wraper shadow t_align_l t_xs_align_c m_bottom_30">
            <thead>
              <tr class="f_size_large">
                <!--titles for td-->
                <th style="width: 60%;">Empreiteiros</th>
                <th style="width: 20%;">Validade do orçamento</th>
                <th>Detalhes</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="empreiteiro in budgetCtrl.empreiteiros" contractCtrl-item item="item" index="$index">
                <td>
                  <p class="fw_medium f_size_large
                    color_dark">{{empreiteiro.name}}</p>
                </td>
                <td>
                  <p class="fw_medium f_size_large
                    color_dark"><mydate>{{empreiteiro.period.valid | date:'dd-MM-yyyy'}}</mydate></p>
                </td>
                <td>
                  <a ui-sref="detailBudgets({id: $index})"> ver mais detalhes </a>
                </td>
              </tr>
                <td colspan="7">
                  <button class="button_type_6 bg_scheme_color f_size_large f_right r_corners tr_all_hover color_light m_bottom_20" ui-sref="home">Voltar</button>
                </td>
              </tr>
            </tbody>
          </table>
          <table ng-if="type==='Cliente'"class="table_type_6 responsive_table full_width r_corners wraper shadow t_align_l t_xs_align_c m_bottom_30">
            <thead>
              <tr class="f_size_large">
                <!--titles for td-->
                <th style="width: 80%;">Clientes</th>
                <th>Detalhes</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cliente in budgetCtrl.clientes" contractCtrl-item item="item" index="$index">
                <td>
                  <p class="fw_medium f_size_large color_dark">{{cliente.name}}</p>
                </td>
                <td>
                  <a ui-sref="detailBudgets({id: $index})"> ver mais detalhes </a>
                </td>
              </tr>
                <td colspan="7">
                  <button class="button_type_6 bg_scheme_color f_size_large f_right r_corners tr_all_hover color_light m_bottom_20" ui-sref="home">Voltar</button>
                </td>
              </tr>
            </tbody>
          </table>
         </section>
        <!--right column-->
      </div>
    </div>
  </div>
  <!--markup footer-->
</div>
