
<!--wide layout-->
<div class="wide_layout relative">
  <!--[if (lt IE 9) | IE 9]>
    <div style="background:#fff;padding:8px 0 10px;">
    <div class="container" style="width:1170px;"><div class="row wrapper"><div class="clearfix" style="padding:9px 0 0;float:left;width:83%;"><i class="fa fa-exclamation-triangle scheme_color f_left m_right_10" style="font-size:25px;color:#e74c3c;"></i><b style="color:#e74c3c;">Attention! This page may not display correctly.</b> <b>You are using an outdated version of Internet Explorer. For a faster, safer browsing experience.</b></div><div class="t_align_r" style="float:left;width:16%;"><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode" class="button_type_4 r_corners bg_scheme_color color_light d_inline_b t_align_c" target="_blank" style="margin-bottom:2px;">Update Now!</a></div></div></div></div>
  <![endif]-->
  <!--markup header-->
  <!--content-->
  <div class="page_content_offset">
    <div class="container">
          <div class="bs_inner_offsets bg_light_color_3 shadow r_corners m_bottom_45">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h5 class="fw_medium m_bottom_15">Dados do Orçamento</h5><br>
                <label for="cardNome" class="d_inline_b m_bottom_5">Quem está fazendo o orçamento?</label><br>
                <select name="repeatSelect" id="repeatSelect" ng-model="data.model">
                  <option ng-repeat="option in states" value="{{option.abbrev}}">{{option.abbrev}}</option>
                </select><br><br>
                <form>
                  <ul>
                    <li class="m_bottom_15">
                      <label for="cardNome" class="d_inline_b m_bottom_5">Proponente</label>
                      <input type="text" name="cardNome" ng-model="budgetCtrl.pmt.receiver" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="cardNome" class="d_inline_b m_bottom_5">CPF/CNPJ</label>
                      <input type="text" name="cardNome" ng-model="budgetCtrl.pmt.cpf" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="cardNome" class="d_inline_b m_bottom_5 full_width">Data de vigência</label>
                      <input type="month" name="datacard" ng-model="budgetCtrl.pmt.card.expDate" class="r_corners">
                      até
                      <input type="month" name="datacard" ng-model="budgetCtrl.pmt.card.expDate" class="r_corners ">
                    </li>
                    <li class="m_bottom_15">
                      <label for="cardNome" class="d_inline_b m_bottom_5">descrição do servico</label>
                      <input type="text" name="cardNome" ng-model="budgetCtrl.pmt.cpf" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="cardNome" class="d_inline_b m_bottom_5 full_width">Valor a Pagar</label>
                      <input type="number" min="0.01" step="0.01" max="250000" name="cardNome" ng-model="budgetCtrl.pmt.value" class="r_corners">
                    </li>
                    <li class="m_bottom_15">
                      <label for="cardNome" class="d_inline_b m_bottom_5 full_width">Número de parcelas</label>
                      <input type="number" min="1" step="1" max="12" name="cardNome" ng-model="budgetCtrl.pmt.value" class="r_corners">
                    </li
                    <li class="m_bottom_15">
                      <label for="datacard" class="d_inline_b m_bottom_5 full_width">Data de Validade</label>
                      <input type="month" name="datacard" ng-model="budgetCtrl.pmt.card.expDate" class="r_corners">
                    </li>
                    <li class="m_bottom_15">
                      <label for="cardNome" class="d_inline_b m_bottom_5">Observações</label>
                      <input type="text" name="cardNome" ng-model="budgetCtrl.pmt.cpf" class="r_corners full_width">
                    </li>
                  </ul>
                </form>
              </div>
            </div>

          </div>
         </section>
        <!--right column-->
      </div>
    </div>
  </div>
  <!--markup footer-->
</div>
