<!--Product name and image-->
<td class="t_md_align_c">
  <img ng-src="{{item.prod_imagem}}" alt="" class="m_md_bottom_5 d_xs_block d_xs_centered">
  <!-- TODO: implement on click open modal here. -->
</td>
<!--product key-->
<td><p class="f_size_large color_dark">{{item.prod_nome}}</p></td>
<!--product price-->
<td>
  <p class="f_size_large color_dark">{{item.prod_description}}</p>
</td>

<td>
  <p class="f_size_large color_dark">{{item.cart_tamanho}}</p>
</td>
<td>
  <p class="f_size_large color_dark">{{item.prod_fabricante}}</p>
</td>

<!--quanity-->
<td >
  <div class="clearfix quantity r_corners d_inline_middle f_size_medium color_dark m_bottom_10">
    <button class="bg_tr d_block f_left" ng-click="updateQtd({index: index, qtd: -1})">-</button>
    <input type="text" name="" ng-model="item.cart_quantidade" class="f_left">
    <button class="bg_tr d_block f_left" ng-click="updateQtd({index: index, qtd: 1})">+</button>
  </div>
  <div>
    <a href="#" class="color_dark" ng-click='removeItem({index: index})'><i class="fa fa-times f_size_medium m_right_5" ></i>Remove</a><br>
  </div>
</td>
<!--subtotal-->
<td data-title="Subtotal">
  <p class="f_size_large fw_medium scheme_color">R${{ (item.prod_valor * item.cart_quantidade).toFixed(2)}}</p>
</td>
