
<!--wide layout-->
<div class="wide_layout relative">
	<!--[if (lt IE 9) | IE 9]>
		<div style="background:#fff;padding:8px 0 10px;">
		<div class="container" style="width:1170px;"><div class="row wrapper"><div class="clearfix" style="padding:9px 0 0;float:left;width:83%;"><i class="fa fa-exclamation-triangle scheme_color f_left m_right_10" style="font-size:25px;color:#e74c3c;"></i><b style="color:#e74c3c;">Attention! This page may not display correctly.</b> <b>You are using an outdated version of Internet Explorer. For a faster, safer browsing experience.</b></div><div class="t_align_r" style="float:left;width:16%;"><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode" class="button_type_4 r_corners bg_scheme_color color_light d_inline_b t_align_c" target="_blank" style="margin-bottom:2px;">Update Now!</a></div></div></div></div>
	<![endif]-->
	<!--markup header-->
  <div ng-include="'navbar.html'"></div>
	<!--content-->
	<div class="page_content_offset">
		<div class="container">
			<div class="row clearfix">
				<!--left content column-->
				<section class="col-lg-12 col-md-12 col-sm-12 m_xs_bottom_30">
					<h2 class="tt_uppercase color_dark m_bottom_25">Bem Vindo !</h2>
          <div class="bs_inner_offsets bg_light_color_3 shadow r_corners m_bottom_45">
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <h5 class="fw_medium m_bottom_15">Cadastre-se</h5>
                <form>
                  <ul>
                    <li class="m_bottom_15">
                      <label for="c_name_2" class="d_inline_b m_bottom_5">Nome</label>
                      <input type="text" name="nome" ng-model="cadVm.user.nome" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="c_name_2" class="d_inline_b m_bottom_5">login</label>
                      <input type="text" name="nome" ng-model="cadVm.user.login" class="r_corners full_width">
                      <div ng-if="!cadVm.isLoginOk">LOGIN INVALIDO</div>
                    </li>
                    <li class="m_bottom_15">
                      <label for="c_name_2" class="d_inline_b m_bottom_5">senha</label>
                      <input type="text" name="nome" ng-model="cadVm.user.senha" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="a_name_1" class="d_inline_b m_bottom_5">CPF</label>
                      <input type="text"  name="cpf" ng-model="cadVm.user.cpf" class="r_corners full_width">
                      <div ng-if="!cadVm.isCpfOk">CPF INVALIDO</div>
                    </li>
                    <li class="m_bottom_15">
                      <label for="f_name_2" class="d_inline_b m_bottom_5">Telefone</label>
                      <input type="text" name="telefone" ng-model="cadVm.user.telefone" class="r_corners full_width">
                    </li>
                    <li class="m_bottom_15">
                      <label for="m_name_2" class="d_inline_b m_bottom_5">Email</label>
                      <input type="text" name="email" ng-model="cadVm.user.email" class="r_corners full_width">
                    </li>
                  </ul>
                </form>
                <button class="button_type_6 bg_scheme_color f_size_large f_right r_corners tr_all_hover color_light m_bottom_20" ng-click="cadVm.createUser()">Salvar</button>
              </div>
            </div>

          </div>
	       </section>
				<!--right column-->
			</div>
		</div>
	</div>
	<!--markup footer-->
  <div ng-include="'footer.html'"></div>
</div>
