<div class="product_item hit w_xs_full">
  <figure class="r_corners photoframe type_2 t_align_c tr_all_hover shadow relative">
    <!--product preview-->
    <a href="#" class="d_block relative pp_wrap m_bottom_15">
      <!--hot product-->
      <img ng-src="{{data.imagem}}" class="tr_all_hover" alt="" height="200px" width="300px">
<!--       <span role="button" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none" ng-click="open(data)">Detalhes</span>
 -->    </a>
    <!--description and price of product-->
    <figcaption>
      <h5 class="m_bottom_10"><a href="#" class="color_dark">{{data.nome}}</a></h5>
      <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15" ng-click="openReviewModal()" ng-if="!hasReview">Avaliar</button>
      <button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0 m_bottom_15" ng-click="openReviewModal()" ng-if="hasReview" disabled>Avaliar</button>
    </figcaption>
  </figure>
</div>
