<div class="modal-body">
	<div class="clearfix">
		<div class="custom_scrollbar">
			<div class="bs_inner_offsets bg_light_color_3 shadow r_corners m_bottom_45">
	            <div class="row clearfix">
	              <div class="col-lg-12 col-md-12 col-sm-12">
	                <h5 class="fw_medium m_bottom_15">Avaliação</h5>
	                <form ng-submit="createReview(score, service, satisfaction, comment)">
	                    <div class="m_bottom_15">
	                      <label for="c_name_2" class="d_inline_b m_bottom_5">Nota</label> <br/>
		                    <div class="radio">  
		                      <label><input type="radio" ng-model="score" value="1">1</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												  <label><input type="radio" ng-model="score" value="2">2</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												  <label><input type="radio" ng-model="score" value="3">3</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												  <label><input type="radio" ng-model="score" value="4">4</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												  <label><input type="radio" ng-model="score" value="5">5</label>
		                    </div>
	                    </div>
	                    <div class="m_bottom_15">
	                      <label for="c_name_2" class="d_inline_b m_bottom_5">O serviço atrasou?</label> <br/>
	                      <div class="radio">  
		                      <label><input type="radio" ng-model="service" value="true">Sim</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												  <label><input type="radio" ng-model="service" value="false">Não</label>
		                    </div>
	                    </div>
	                    <div class="m_bottom_15">
	                      <label for="c_name_2" class="d_inline_b m_bottom_5">Ficou satisfeito?</label> <br/>
	                      <div class="radio">  
		                      <label><input type="radio" ng-model="satisfaction" value="true">Sim</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
												  <label><input type="radio" ng-model="satisfaction" value="false">Não</label>
		                    </div>
	                    </div>
	                    <div class="m_bottom_15">
	                      <label for="a_name_1" class="d_inline_b m_bottom_5">Comentários</label>
	                      <textarea rows="10" name="comments" ng-model="comment" class="r_corners full_width" style="height: 100%"/>
	                    </div>
	                <button type="submit" class="button_type_6 bg_scheme_color f_size_large f_right r_corners tr_all_hover color_light m_bottom_20" ng-if="score">Salvar</button>
	                <div class="alert alert-danger" role="alert" ng-if="!score">Você precisa pelo menos dar uma nota para concluir a avaliação</div>
	                </form>
	              </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
