<div class="modal-body">
	<div class="clearfix">
		<div class="custom_scrollbar">
			<div class="bs_inner_offsets bg_light_color_3 shadow r_corners m_bottom_45">
	            <div class="row clearfix">
	              <div class="col-lg-12 col-md-12 col-sm-12">
	                <h5 class="fw_medium m_bottom_15">Avaliação</h5>
	                <form>
	                  <ul>
	                    <li class="m_bottom_15">
	                      <label for="c_name_2" class="d_inline_b m_bottom_5">Nota</label> <br/>
	                      <input type="radio" class="d_none" name="um" id="um" /><label for="um">1</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                      <input type="radio" class="d_none" name="dois" id="dois" /><label for="dois">2</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                      <input type="radio" class="d_none" name="tres" id="tres" /><label for="tres">3</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                      <input type="radio" class="d_none" name="quatro" id="quatro" /><label for="quatro">4</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                      <input type="radio" class="d_none" name="cinco" id="cinco" /><label for="cinco">5</label>
	                    </li>
	                    <li class="m_bottom_15">
	                      <label for="c_name_2" class="d_inline_b m_bottom_5">O serviço atrasou?</label> <br/>
	                      <input type="radio" class="d_none" name="simservice" id="simservice" /><label for="simservice">Sim</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                      <input type="radio" class="d_none" name="naoservice" id="naoservice" /><label for="naoservice">Não</label>
	                    </li>
	                    <li class="m_bottom_15">
	                      <label for="c_name_2" class="d_inline_b m_bottom_5">Ficou satisfeito?</label> <br/>
	                      <input type="radio" class="d_none" name="simsatisf" id="simsatisf" /><label for="simsatisf">Sim</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                      <input type="radio" class="d_none" name="naosatisf" id="naosatisf" /><label for="naosatisf">Não</label>
	                    </li>
	                    <li class="m_bottom_15">
	                      <label for="a_name_1" class="d_inline_b m_bottom_5">Comentários</label>
	                      <textarea rows="10" name="comments" class="r_corners full_width" style="height: 100%"/>
	                    </li>
	                  </ul>
	                </form>
	                <button class="button_type_6 bg_scheme_color f_size_large f_right r_corners tr_all_hover color_light m_bottom_20" ng-click="cadVm.createUser()">Salvar</button>
	              </div>
	            </div>
	        </div>
		</div>
	</div>
</div>
